body {
  /*background-color: #1D2021;*/
  background: url("https://pbs.twimg.com/media/Eswgy9JUcAM4gte.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-container {
  display: flex;
  height: 90vh;
  align-content:center;
  justify-content: center;
  align-items: center;
}

.flex-container > div {
  background-color: #1D2021;
  width: 9%;
  height: 600px;
  margin: 5px; /* 5px */
  text-align: center;
  line-height: 75px;
  border-radius: 25px;

  /* For the text */
  position: relative;
  justify-content: center;
}

.flex-container > div > p {
  color: #FFD700;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.flex-container > div > p > img {
  position: absolute;
  bottom: 50px;
  width: 50px;
  height: 50px;
}

.star4, .star5, .star3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.star5 {
  border: 1.5px solid #FFD700;
  box-shadow: 0 0 5px #FFD700;
}

.star4 {
  border: 1.5px solid #FF00FF;
  box-shadow: 0 0 5px #FF00FF;
}

.star3 {
  border: 1.5px solid #10A5F5;
  box-shadow: 0 0 5px #10A5F5;
}

.smallbg {
  background-size: 100%;
}

.bigbg {
  background-size: 150%;
}
